.spinner {
    position:fixed;
    left:350%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners {
    position:fixed;
    left:950%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-2 {
    position:fixed;
    left:115%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-3 {
    position:fixed;
    left:270%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-4 {
    position:fixed;
    left:375%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-5 {
    position:fixed;
    left:224%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-6 {
    position:fixed;
    left:303%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-7 {
    position:fixed;
    left:87%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-8 {
    position:fixed;
    left:270%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-9 {
    position:fixed;
    left:200%;
    transform: translate(-50%,-50%);
}
.spinners-10 {
    position:fixed;
    left:140%;
    transform: translate(-50%,-50%);
}
.spinners-11 {
    position:fixed;
    left:430%;
    transform: translate(-50%,-50%);
}
.spinners-12 {
    position:fixed;
    left:111%;
    transform: translate(-50%,-50%);
}
.spinners-13 {
    position:fixed;
    left:585%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-14 {
    position:fixed;
    left:390%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-15 {
    position:fixed;
    left:300%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-16 {
    position:fixed;
    left:1000%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners-17 {
    position:fixed;
    left:350%;
    transform: translate(-50%,-50%);
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spin {
    position:fixed;
    left:1200%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spins {
    position:fixed;
    left:1460%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinning {
    position:fixed;
    left:560%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinned {
    position:fixed;
    left:400%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spiin {
    position:fixed;
    left:300%
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spiins {
    position:fixed;
    left:450%
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
