.spinner {
    position:fixed;
    left:350%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinners {
    position:fixed;
    left:950%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spin {
    position:fixed;
    left:1200%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spins {
    position:fixed;
    left:1460%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinning {
    position:fixed;
    left:560%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spinned {
    position:fixed;
    left:400%;
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spiin {
    position:fixed;
    left:300%
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
.spiins {
    position:fixed;
    left:450%
    /* top:50%;    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); */
}
