.queue-no {
  font-size: 15vh !important;
  font-weight: bolder;
  color: rgb(206, 48, 31);
}
.booking-no {
  font-size: 16vh !important;
  font-weight: bolder;
    color: rgb(206, 48, 31);
}
.queue-patient {
  font-size: 5vh;
  font-weight: bold;
  color: rgb(65, 158, 163);
}
.queue-attendee {
  font-size: 5vh;
  font-weight: bold;
  color: var(--blue-brand)
}
.now-serving {
  font-size: 6vh;
  font-weight: bold;
  color: var(--yellow-brand);
}

.queue-div{
  background:  rgb(222, 222, 222);
  border-radius: 10px;
}

.booking-border{
  border: 1px solid black;
  border-radius: 10px;
}
