.paid {
    color: #19A451;
    font-weight: bold;
}

.unpaid {
    color: #DAC92F;
    font-weight: bold;
}

.HOMESERVICE{
    color: #870c33 !important;
    font-weight: bold;
}

.CLINIC{
    color: #870c33 !important;
    font-weight: bold;
}

