.md-row{
  display: flex;

}
.md-label{
  font-size: 1.2rem;
  margin:  0 0.5rem 0 0;
  padding:0.2rem 0 0 0  !important;
}
.md-input, .md-button{
  height:2rem;
  margin:0 !important;
}
.md-input{
  margin-right: 0.5rem !important;
}

