@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.resultTitle {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-left: 2px;
    background-color: transparent;
}

.PDFFont {
  font-family: 'Arial', sans-serif;
}

.addressTitle {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    display: block;
    text-align: center;
}

.img-small {
    width: 290px;
    height: 140px;
    margin-right: 1px;
  }

.laboratory-title {
    font-family: 'Arial', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 0px;
}

.table-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 1.5em; /* adjust font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.wrapper {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Spacing between boxes */
  width: 100%; /* Set width of the container */
  text-align: center  ;
  background-color: transparent;
}

.box{
  width: 50%; /* Set equal width for both boxes */
  background-color: transparent;
  padding: -5px;
}

.tspan {
  margin-top: -10px;
}

.resText{
  text-align: center;
}

.tb {
  width: 100%;
  font-size: 14px;
}

.mid {
  text-align: center;
}

.row {
  margin-bottom: 0px !important;
}

.bg {
  background-image: url('../../../images/Watermark.png');
  background-size: cover; /* or "contain" based on your requirement */
  background-repeat: no-repeat;
  background-position: center center;
}

.bd {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 0px;
  border-right: 0px;

}

.watermark {
  position: absolute;
  display: flex;
  left: 5%;
  top: 11%;
  width: 85%;
  height: 75%;
  z-index: -1;
}

.teal_header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20% !important;
  z-index: -1 !important;
}

.details_title {
  display: inline-block;
  text-align: left;
  margin-left: 15px !important ;
  padding-right: 1px;
}

.red {
  color: red;
}