.personal-data-cont {
    margin: 2% 0% 0% 4%;
    width: 100%;
}

.label {
    color: #419EA3;
    font-family: 'Montserrat-Bold';
    height: 50px;
}

.detail {
    margin-left: 8%;
    font-family: 'Montserrat-Regular';

}

.row {
    margin-bottom: 2%;
}

.upload-area {
  margin-top: 10%;
  margin-left: -10%;
  width: 80%;
  height: 80%;
  background: #FCFCFC;
  border: 5px dashed rgba(85, 7, 58, 0.76);
  box-sizing: border-box;
}

.upload-info {
  margin-left: -10%;
}

.test-details-cont {
  margin-left: 8% !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  margin-top: 50%;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
}

.upload {
  margin-top: 30%;
}

.upload-icon {
  margin-left: 35% !important;
  opacity: 0.8;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploaded-file {
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  width: 50%;
  margin-top: 20%;
  font-size: 18px;
}

.uploaded-size {
  margin-top: 25%;
}

.cancel-area{
  width: 80%;
  height: 80%;
  margin-left: -10%;
  margin-top: -4%;
}

.cancel-btn {
  float: right;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
}

.finish-info {
  float: right;
  border: 2px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.md-input {
  width: 35%;
  margin-right: 15% !important;
}

.md-label {
  margin-right: 1%;
  color: #419EA3;
  font-family: 'Montserrat-Bold';
}

.more-gap {
  margin-top: 3%;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  
  }
  
  /* Clear floats after the columns */
.row2:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}