.card-container {
    border: solid 1px #000000;
    margin: 10%;
    width:80%;
}

.card-head {
    height: 25px;
}

.card-head-title {
    margin-left: 3%;
    color: #ffff;
}

a {
    color:#000000 !important;
    text-decoration: none;
}


/**Card Header Color Options**/

.maroon {
    background-color: #55073A;
}

.blue {
    background-color: #419EA3;;
}

.report-card {
    margin-top: 20px;
    width: 30px;
    height: 35px;
}

.card-data {
    font-family: 'Lato-Bold';
    font-size: 30px;
    padding-right: 5%;
}

.card-title {
    color: #A59F9F;
    font-family: 'Lato-Regular';
    font-weight: bolder;
    font-size: 12px;
    padding-right: 5%;
    margin-top: -5%;
}