/**Search**/

.search-table-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search {
    margin-right: 1rem;
}


/**Table**/
$bg-color: #f1f1f1;
$primary-color: #000;
$light-color: #fff;
$border-color: #ddd;
$header-bg-color: #C4C4C438;
$header-text-color: #55073A;
$ff-primary: 'Poppins', sans-serif;

@mixin break {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 5px;
  }

  td {
    display: block;
    position: relative;
    padding-left: 130px;
    text-align: left;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    &::before {
      content: attr(data-heading);
      position: absolute;
      top: 0;
      left: 0;
      width: 120px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary-color;
      color: $light-color;
      font-size: 0.75rem;
      padding: 0 5px;
      justify-content: center;
    }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
} 

body {
  font-family: $ff-primary;
}

.table-container {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto 10px;

  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
   }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
   }

   table th:first-child {
     border-radius: 8px 0 0 0;
     -moz-border-radius: 8px 0 0 0;
     -webkit-border-radius: 8px 0 0 0;
    }

    table th:last-child {
     border-radius: 0 8px 0 0;
     -moz-border-radius: 0 8px 0 0;
     -webkit-border-radius: 0 8px 0 0;
    }


  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        background-color: transparent;
      }
    }

    td, th{
      border: none;
      padding: 10px;
      text-align: center;
    }

    th {
      border: none !important;
      background-color: $header-bg-color;
      color: $header-text-color;
      font-size: 0.90rem;
      padding: 1rem;
    }

    tr {
        background-color: #E5E5E5;
    }

    &--break-lg {

      @media (max-width: 991px) {
        @include break;
      }
    }

    &--break-md {

      @media (max-width: 767px) {
        @include break;
      }
    }

    &--break-sm {

      @media (max-width: 575px) {
        @include break;
      }
    }
  }
}

/** Report Table **/
.report-table-th-top {
  color: #bfbc4b !important;
  background-color: #bfbc4b !important;
  padding: 0.5rem !important;
}
.report-table-th {
  padding: 0.5rem !important;
}

.report-table-container {
  width: 50% !important;
  margin-left: 3% !important;
}