.paid {
    color: #19A451;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.unpaid {
    color: #DAC92F;
    font-weight: bold;
}

.HOMESERVICE {
    color: #419EA3 !important;
    font-weight: bold;
}

.CLINIC {
    color: #55073A;
    font-weight: bold;
}
