.item-id-label, .item-name-label {
    font-family: 'Montserrat-Bold';
    color: #419EA3;
}

.item-id-input, .item-name-input {
    width: 80%;
    border-width: 1px;
    border-color: #55073A;
}

.add-item-header {
    font-family: 'Montserrat-Italic';
    color: #BFBC4B;
    font-size: 1.5rem;
}

.items {
    margin-left: -100%;
}