.print-area-po {
    margin: 5%;
}

.print-area-receives {
    margin: 5%;
}

.print-area-receives td { 
    font-size: 12px !important;
}

.print-area-receives th { 
    font-size: 12px !important;
}

.print-area-receives span { 
    font-size: 13px !important;
}

.table-header-po {
    font-size: 18px;
}
.header-po {
    font-size: 16px;
    font-weight: bold;
}
.po-gap {
    width: 250px !important;
}
.table-header-po {
    font-size: 18px;
}
.print-po-row {
    margin-top: -3% !important;
}
.po-print-breakdown-cont {
    display: flex;
    float:right;
}
.po-print-payment-cont {
    display: flex;
    float:right;
}
.po-print-breakdown {
    display: inline-block !important;
    margin-right: 1%;
}
.po-print-approval {
    display: inline-block !important;
    margin-right: 1%;
}
.margin-right-2 {
    margin-right: 2%;
}