.hr-po{
    border-top: 2px solid black;
}
.col-left-po{
    font-size:10px !important;
    /* margin-left:10px !important; */
}
.official-rcpt{
    margin-left: 140px !important;
}

.signature-customer{
    margin-left: 80px !important;
}

.signature-agent{
    margin-left: 20px !important;
}

.print-area-po {
    margin: 5%;
    font-family: 'Fira Mono', monospace;
}

.break-area-po{
    margin-top:2%; 
    margin-bottom:2%;
}

.print-area-receives {
    margin: 5%;
}

.print-area-receives td { 
    font-size: 12px !important;
}

.print-area-receives th { 
    font-size: 12px !important;
}

.print-area-receives span { 
    font-size: 13px !important;
}

.table-header-po {
    font-size: 14px !important;
    margin-bottom: -2px;
    font-weight: bold;
}
.header-po {
    font-size: 12px !important;
}
.po-gap {
    width: 30px !important;
}
/* .table-header-po {
    font-size: 18px;
} */
.print-po-row {
    margin-top: 2% !important;
    margin-left: 3% !important;
}
.po-print-breakdown-cont {
    display: flex;
    float:right;
}
.po-print-payment-cont {
    display: flex;
    float:right;
}


.po-print-breakdown {
    display: inline-block !important;
}
.po-print-approval {
    display: inline-block !important;
    margin-right: 2%;
}
.margin-right-2 {
    margin-right: 2% !important;
}
.signature-printedby{
  width:10%;
  margin-left:10%;
}
.signature-approvedby {
  width: 10%;
  margin-left: 20%;
}
