.disapprove-btn {
    background-color: rgb(207, 87, 87);
    color: white;
    border: none;
    width: 90% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-btn {
    margin-left: -10% !important;
    margin-top: 15% !important;
}

.po-print-btn {
    margin-left: 20% !important;
    margin-top: 55% !important;
    background-color: #419ea3;
    color: white;
    border: none;
    width: 60% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-approve-btn {
    background-color: #419ea3;
    color: white;
    border: none;
    width: 100% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-disapprove-btn {
    background-color: #bfbc4b;
    color: white;
    border: none;
    width: 100% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-yes-btn {
    background-color: #bf4b4b;
    color: white;
    border: none;
    width: 30% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-no-btn {
    background-color: #bebebe;
    color: white;
    border: none;
    width: 30% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.po-close-btn {
    background-color: #b6b6b6;
    color: white;
    border: none;
    width: 100% !important;
    border-radius: 0.3em;
    padding:  0.5%;
}

.less-gap {
    margin: 0px !important;
    height: 30px !important;
}

.disapproved {
    color: rgb(207, 87, 87);
    text-transform: uppercase;
    font-weight: bold;
}

.approved {
    color: rgb(87, 187, 87);
    font-weight: bold;
    text-transform: uppercase;
}

.printed {
    color: #00bcd4;
    font-weight: bold;
    text-transform: uppercase;
}

.pending {
    color: #c5c350;
    font-weight: bold;
    text-transform: uppercase;
}

.paid, .unpaid {
    text-transform: uppercase;
}

.po-logo {
    width: 20%;
}

.add-space {
    margin-top: 4% !important;
}

.po-details {
    margin: 5%;
}

.received-qty {
    margin-left: 4%;
}

.received-qty-cont {
    margin-bottom: 3%;
}

.received-qty-input {
    width: 50%;
}

.receive-cont {
    margin-top: -10% !important;
}

.text-right {
    text-align: right !important;
}