.content {
    position: relative;
}


/*******
Values
*******/

.HOME {
    color: #419EA3;
}

.CLINIC {
    color: #55073A;
}

.PAID {
    color: #19A451;
}

.PENDING {
    color: #DAC92F;
}

.HOME, .CLINIC, .PAID, .PENDING, .CASH, .CREDIT {
    font-weight: bold;
}

