.print-area {
    padding: 1%;
}

.table-header {
    color: black;
    font-size:6px;
    margin-top: 0.3% !important;
    margin-left: -1% !important;
}

.detail-gender {
    margin-left: 15%;
}

.request-form {
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    font-weight: bold;
    color: black;
    font-size: 9px;
}

.claim-header {
    font-weight: bold;
    color: black;
    font-size: 9px;
}

.claim-header-data { 
    margin-left:20px;
}

.data {
    font-size: 0.60em;
}

.detail-print {
    font-size: 0.5em;
}

.payment-logo {
    width: 70px;
    height: 35px;
    margin-left: -2.7%;
}

.print-row {
    display: flex;
}

.print-column {
    flex: 50%;
    padding: 2%;
    max-width: 50%;
    border: 2px solid black;
}

.print-column-blank {
    flex: 50%;
    padding: 3%;
}

.to-right {
    margin-left: 3%;
}

.to-right-test {
    font-weight: bold;
    margin-left: 3%;
    font-size: 30px !important;
}

.payment-row {
    display: flex;
}

.payment-column {
    float: left;
    padding: 1px;
}

.left {
    width: 35%;
}

.right {
    width: 75%;
}

.left-2 {
    width: 55%;
}

.right-2 {
    width: 45%;
}

.left-3 {
    width: 18%;
}

.middle-3 {
    width: 33%;
}

.line{
    width: 330px;
    height: 47px;
    border-bottom: 1px solid black;
    margin-top: -15.5%;
    margin-left: -3%;
}

.encoded-on {
    font-size: 10px;
    margin-left: -1% !important;
}

.no-wrap {
    white-space: nowrap;
}

.customer-details-table {
    margin-top: -0.2% !important;
}

.row-bottom-margin {
    margin-bottom:1px !important;
}

.services-table {
    margin-left: 1%;
    /* padding: 3% !important; */
}

.footer-header {
    font-size: 10px !important;
    margin-top: 1.5%;
}

.request-header {
    font-size: 10px ;
    margin-top: 1%;
}

.request-header-test {
    font-size: 10px !important;
    margin-top: 3%;
}

.print-data-dob {
    width: 180px !important;
}

.print-data-contact {
    width: 150px !important;
}

.print-data-address {
    width: 170px !important;
}


/***TABLE***/
.table {
    display: table;
    border-collapse: collapse;
 }
  
 .table .table-row {
    display: table-row;
 }
  
 .table .table-cell {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
 }

 .slip-span{
  font-size: 7px !important;
  margin-top:0 !important;
 }

 .charge-slip-span{
    font-size: 8px !important;
    margin-top:0 !important;
   }
 


 .bold-slip-span{
    font-size: 7px !important;
    margin-top:0 !important;
    font-weight: bold;
   }

   .bold-charge-slip-span{
    font-size: 9px !important;
    margin-top:0 !important;
    font-weight: bold;
   }

 .claim-span{
    font-size: 9px !important;
    margin-top:5px !important;
   }

.charge-slip{
  padding-left:3%;
  /* float:left; */
  /* width:12rem!important; */
 
  /* flex: 50%; */
  padding: 2%;
  padding-left: 0.5rem !important;
  margin:0px !important;
  width: 50% !important;
  min-height:fit-content !important;
  /* height: 25rem; */
  border:none;
  border-right: 2px solid black;
}
/* .claim-stub{ */
  /* float:right; */
  /* margin-left:3% !important; */
  /* transform: rotate(-90deg); */
  /* white-space: nowrap; */
  /* height:10rem !important; */
  /* width:100% !important; */
  /* padding: 2%; */
  /* border: 2px solid black; */
/* } */
.claim-stub-rotate{
  /* display:block; */
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%);
  margin-top: -50%;
  /* border: 2px solid black; */
  padding: 3%;
  width:25rem;
  height: 13rem;
  /* min-width: fit-content; */
}
.with-border{
  border: 2px solid black;
}
.no-border{
  border:none !important;
}
.claim-stub-inner{
  /* border:1px solid red; */
  padding: 50% 0;
  display: flex;
  flex: 100%;
}
.claim-stub-outer{
  /* border:1px solid yellowgreen; */
  display: flex;
  /* width: fit-content; */
}
.claim-stub-container{
  /* border:1px solid orange; */
  display:flex; 
  width:50%;
  /* min-width: fit-content; */
}
.row-column{
  display:flex;
  width:50%;
  border:2px solid black;
  /* border:1px solid red; */
}
.small-logo{
  width:30px !important;
  height:15px !important;
  margin-left: -2.7%
}

.large-logo{
    width:50px !important;
    height:35px !important;
    margin-left: -2.7%
  }

.charge-slip-table{
  width:100%;
  padding: 0.5rem;
  margin:0;
}
.charge-slip-footer{
  padding:0.5rem;

}
