.print-area {
    padding: 2%;
}

.table-header {
    color: black;
    font-size:8px;
    margin-top: 0.5% !important;
    margin-left: -1% !important;
}

.detail-gender {
    margin-left: 10%;
}

.request-form {
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    font-weight: bold;
    color: black;
    font-size: 11px;
}

.data {
    font-size: 0.75em;
}

.detail-print {
    font-size: 0.7em;
}

.payment-logo {
    width: 70px;
    height: 35px;
    margin-left: -2.7%;
}

.print-row {
    display: flex;
}

.print-column {
    flex: 50%;
    padding: 3%;
    border: 2px solid black;
}

.print-column-blank {
    flex: 50%;
    padding: 3%;
}

.to-right {
    margin-left: 3%;
}

.to-right-test {
    font-weight: bold;
    margin-left: 3%;
    font-size: 30px !important;
}

.payment-row {
    display: flex;
}

.payment-column {
    float: left;
    padding: 1px;
}

.left {
    width: 35%;
}

.right {
    width: 75%;
}

.left-2 {
    width: 55%;
}

.right-2 {
    width: 45%;
}

.left-3 {
    width: 18%;
}

.middle-3 {
    width: 33%;
}

.line{
    width: 330px;
    height: 47px;
    border-bottom: 1px solid black;
    margin-top: -15.5%;
    margin-left: -3%;
}

.encoded-on {
    font-size: 10px;
    margin-left: -1% !important;
}

.no-wrap {
    white-space: nowrap;
}

.customer-details-table {
    margin-top: -0.2% !important;
}

.row-bottom-margin {
    margin-bottom:1px !important;
}

.services-table {
    margin-left: 1%;
    padding: 3% !important;
}

.footer-header {
    font-size: 12px !important;
    margin-top: 2%;
}

.request-header {
    font-size: 10px !important;
    margin-top: 2%;
}

.request-header-test {
    font-size: 15px !important;
    margin-top: 0.5%;
}

.print-data-dob {
    width: 180px !important;
}

.print-data-contact {
    width: 150px !important;
}

.print-data-address {
    width: 170px !important;
}


/***TABLE***/
.table {
    display: table;
    border-collapse: collapse;
 }
  
 .table .table-row {
    display: table-row;
 }
  
 .table .table-cell {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
 }
 




