body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**FONTS**/

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'JetBrains-Mono-Medium';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/Inter/static/Inter-Bold.ttf');
}